@font-face{
    font-family: 'BalsamiqSans-Regular.ttf';
	src: url('../BalsamiqSans-Regular.ttf');
}
@font-face{
    font-family: 'Ruluko-Regular.ttf';
    src:url('../Ruluko-Regular.ttf')
}

@font-face{
    font-family: 'Artifika-Regular.ttf';
	src: url('./Artifika-Regular.ttf');
}

@font-face{
    font-family: 'Gabriela-Regular.ttf';
	src: url('../Gabriela-Regular.ttf');
}

@font-face{
    font-family: "ZCOOLXiaoWei-Regular.ttf";
    src: url("../ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.ttf");
}  
.fondo{
    background-color:rgba(113, 113, 240, 0.727);
}
.fondo:before{
	content:'';
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity:0.2;
    z-index: -1;
    margin-bottom:0px;
}
button {
    text-align: center;
    font-style: oblique;
    font-family:'Quicksand-Medium.ttf';
    border-radius: 80%;
    background: rgb(32, 83, 178);
    padding: 10px;
    font-size: 50px;
	color: rgb(5, 4, 89);
}
button:hover {
	padding: 15px;
	background: rgb(52, 52, 247);
}
button#regresar{
    background-image:url('./iconos/arrow-go-back-fill.svg');
    padding: 50px;
    border-radius: 80%;
    background-repeat:no-repeat;
    height:70px;
    width:70px;
    background-position:center;
	font-size: 50px;
}